name = "websites-tools"
main = "src/index.ts"
compatibility_date = "2024-11-01"

# Cloudflare Workers with Assets
[assets]
directory = "dist"
binding = "ASSETS"

[vars]
NODE_VERSION = "v24"
PNPM_VERSION = "10"