name = "developer-tools"
main = "src/index.ts"
compatibility_date = "2024-11-01"

# Use Workers Assets to serve static Next.js build
[assets]
directory = ".vercel/output/static"
binding = "ASSETS"

[build]
command = "pnpm pages:build"

[vars]
NODE_VERSION = "v24"
PNPM_VERSION = "10"